$section-padding-horizontal: 1.5rem;
$section-padding-top: 4.6875rem;
$section-padding-bottom: 6.25rem;

$article-padding-vertical: 0.8rem;

$card-padding-vertical: 2.3333333333333335rem;
$card-padding-horizontal: 2rem;
