@import url("/node_modules/@fontsource/league-spartan/400.css");
@import url("/node_modules/@fontsource/league-spartan/500.css");
@import url("/node_modules/@fontsource/league-spartan/700.css");

$typography-primary: "League Spartan", sans-serif;
$typography-color-primary: hsl(300, 43%, 22%);
$typography-color-secondary: hsl(303, 10%, 53%);
$typography-size: 0.9375rem;
