@use "../variables/social-proof-global";
@use "../variables/typography";
@use "../variables/colors";

.social-proof {
  background-image: url("../images/bg-pattern-top-desktop.svg");
  background-position: 45% -6%;
  background-repeat: no-repeat;
  color: colors.$primary-main;
  font-family: typography.$typography-primary;
  padding: social-proof-global.$section-padding-top
    social-proof-global.$section-padding-horizontal
    social-proof-global.$section-padding-bottom;
  width: 375px;

  > :not(:last-child) {
    margin-bottom: 3rem;
  }
}
